/* {{{scheme-name}}} by {{{scheme-author}}} */

$variant: {{scheme-variant}}; // “dark” or “light”

@function shade-thin-shadow($var-name) { @return "1px 2px 2px rgba(0, 0, 0, 0.17), 2px 4px 4px rgba(0, 0, 0, 0.2), -1px -1px 0px color-mix(in oklab, var(#{$var-name}) 80%, white 10%)"; }
@function color-thin-shadow($var-name) { @return "1px 2px 2px rgba(0, 0, 0, 0.17), 2px 4px 4px rgba(0, 0, 0, 0.2), -1px -1px 0px color-mix(in oklab, var(#{$var-name}) 80%, white 40%)"; }

@function shade-wide-shadow($var-name) { @return "4px 12px 10px rgba(0, 0, 0, 0.2), 7px 18px 14px rgba(0, 0, 0, 0.21), 10px 24px 18px rgba(0, 0, 0, 0.25), 14px 30px 24px rgba(0, 0, 0, 0.3), -1px -1px 0px color-mix(in oklab, var(#{$var-name}) 80%, white 10%)"; }
@function color-wide-shadow($var-name) { @return "4px 12px 10px rgba(0, 0, 0, 0.2), 7px 18px 14px rgba(0, 0, 0, 0.21), 10px 24px 18px rgba(0, 0, 0, 0.25), 14px 30px 24px rgba(0, 0, 0, 0.3), -1px -1px 0px color-mix(in oklab, var(#{$var-name}) 80%, white 40%)"; }

@function top-inset-shadow($var-name) { @return "1px 2px 2px color-mix(in oklab, var(#{$var-name}) 80%, black 20%) inset, 2px 4px 4px color-mix(in oklab, var(#{$var-name}) 80%, black 20%) inset"; }
@function top-thin-inset-inset-shadow($var-name) { @return "1px 1px 1px color-mix(in oklab, var(#{$var-name}) 80%, black 20%) inset, 2px 2px 2px color-mix(in oklab, var(#{$var-name}) 80%, black 20%) inset"; }

@function shade-heavy-bottom-inset-shadow($var-name) { @return "-1px -1px 0px color-mix(in oklab, var(#{$var-name}) #{if($variant == dark, "80%, white 10%", "0%, white 100%")}) inset"; }
@function shade-bottom-inset-shadow($var-name) { @return "-1px -1px 0px color-mix(in oklab, var(#{$var-name}) #{if($variant == dark, "80%, white 10%", "50%, white 50%")}) inset"; }
@function color-bottom-inset-shadow($var-name) { @return "-1px -1px 0px color-mix(in oklab, var(#{$var-name}) #{if($variant == dark, "80%, white 40%", "80%, white 20%")}) inset"; }

:root {
  --base00: #{{base00-hex}};
  --base01: #{{base01-hex}};
  --base02: #{{base02-hex}};
  --base03: #{{base03-hex}};
  --base04: #{{base04-hex}};
  --base05: #{{base05-hex}};
  --base06: #{{base06-hex}};
  --base07: #{{base07-hex}};
  --base08: #{{base08-hex}};
  --base09: #{{base09-hex}};
  --base0A: #{{base0A-hex}};
  --base0B: #{{base0B-hex}};
  --base0C: #{{base0C-hex}};
  --base0D: #{{base0D-hex}};
  --base0E: #{{base0E-hex}};
  --base0F: #{{base0F-hex}};

  --base01-r: {{base01-rgb-r}};
  --base01-g: {{base01-rgb-g}};
  --base01-b: {{base01-rgb-b}};

  --shadow-inset-base00: #{top-inset-shadow(--base00)}, #{shade-heavy-bottom-inset-shadow(--base00)}; /* Bottom inset shadow for more extreme shades (usually base00 and base02) */
  --shadow-inset-base01: #{top-inset-shadow(--base01)}, #{shade-heavy-bottom-inset-shadow(--base01)};
  --shadow-inset-base02: #{top-inset-shadow(--base02)}, #{shade-bottom-inset-shadow(--base02)}; /* Bottom inset shadow for duller shades (usually base02-base07) */
  --shadow-inset-base08: #{top-inset-shadow(--base08)}, #{color-bottom-inset-shadow(--base08)};
  --shadow-inset-base0D: #{top-inset-shadow(--base0D)}, #{color-bottom-inset-shadow(--base0D)};
  --shadow-inset-base02-thin: #{top-thin-inset-shadow(--base02)}, #{shade-bottom-inset-shadow(--base02)};
  --shadow-inset-base0D-thin: #{top-thin-inset-shadow(--base0D)}, #{color-bottom-inset-shadow(--base0D)};

  --shadow-thin-base00: #{shade-thin-shadow(--base00)};
  --shadow-thin-base01: #{shade-thin-shadow(--base01)};
  --shadow-thin-base02: #{shade-thin-shadow(--base02)};
  --shadow-thin-base08: #{color-thin-shadow(--base08)};
  --shadow-thin-base09: #{color-thin-shadow(--base09)};
  --shadow-thin-base0A: #{color-thin-shadow(--base0A)};
  --shadow-thin-base0B: #{color-thin-shadow(--base0B)};
  --shadow-thin-base0D: #{color-thin-shadow(--base0D)};

  --shadow-wide-base01: #{shade-wide-shadow(--base01)};
  --shadow-wide-base02: #{shade-wide-shadow(--base02)};
  --shadow-wide-base08: #{color-wide-shadow(--base08)};
}
