@import url("colors.css");
/*

  Based upon the dracula theme for libadwaita
  and adw-gtk3 - https://github.com/lassekongo83/adw-gtk3

  1. If ~/.config/gtk-4.0/gtk.css and/or ~/.config/gtk-3.0/gtk.css exists, make backups
  2. Enable the adw-gtk3-dark theme
  3. Save this file to ~/.config/gtk-4.0/gtk.css
  4. Make the file a symbolic link to ~/.config/gtk-3.0/gtk.css (or copy it to that location)
  5. Close and re-open any open apps or log out and in again

*/

/* Global color definitions */

@define-color window_bg_color #181825;
@define-color window_fg_color #89b4fa;
@define-color view_bg_color #1e1e2e;
@define-color view_fg_color @window_fg_color;
@define-color accent_bg_color #89b4fa;
@define-color accent_color @accent_bg_color;
@define-color headerbar_bg_color @window_bg_color;
@define-color headerbar_fg_color @window_fg_color;
@define-color headerbar_border_color #313244;
@define-color popover_bg_color #181825;
@define-color popover_fg_color @view_fg_color;
@define-color dialog_bg_color @popover_bg_color;
@define-color dialog_fg_color @popover_fg_color;
@define-color card_bg_color rgba(255, 255, 255, 0.08);
@define-color card_fg_color @window_fg_color;
@define-color sidebar_bg_color @headerbar_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_backdrop_color @window_bg_color;
@define-color sidebar_border_color #313244;
@define-color sidebar_shade_color rgba(0,0,0,0.25);
@define-color success_bg_color #a6e3a1;
@define-color success_fg_color #a6e3a1;
@define-color warning_bg_color #f9e2af;
@define-color warning_bf_color #f9e2af;
@define-color error_bg_color #f38ba8;
@define-color error_fg_color #f38ba8;

/* More customizations */

@keyframes generic-slide-down {
  from {
    margin-top: -140px;
  }
  to {
    margin-top: 0px;
  }
}

/* -- base styles -- */
* {
  font-family:
    JetBrainsMono Nerd Font,
    sans-serif;
  font-weight: normal;
  font-size: 16px;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-property:
    background-color,
    color,
    opacity,
    transform,
    box-shadow,
    -gtk-icon-transform;
}

decoration {
  border-radius: 10px;
  border: 1px solid @window_fg_color;
  box-shadow:
    4px 12px 10px rgba(0, 0, 0, 0.2),
    7px 18px 14px rgba(0, 0, 0, 0.21),
    10px 24px 18px rgba(0, 0, 0, 0.25),
    14px 30px 24px rgba(0, 0, 0, 0.3);
  margin: 0px 30px 45px 15px;
}

tooltip {
  border: 1px solid var(--window-fg-color);
  border-radius: 50px;
  color: var(--window-fg-color);
  background-color: var(--headerbar-border-color);
  margin: 0px 30px 45px 15px;
  box-shadow:
    4px 12px 10px rgba(0, 0, 0, 0.2),
    7px 18px 14px rgba(0, 0, 0, 0.21),
    10px 24px 18px rgba(0, 0, 0, 0.25),
    14px 30px 24px rgba(0, 0, 0, 0.3);
}
