/*** commonDialog ***/
@-moz-document url-prefix("chrome://global/content/commonDialog")
{
  .dialog-button-box button:not(:first-child):not(:last-child) {
    margin-right: 6px !important;
  }
  button {
    appearance: unset !important;
  }
  button[dlgtype="accept"] {
    color: var(--base0C) !important;
    background-color: var(--base0C-black-60) !important;
    box-shadow: var(--shadow-thin-dull-base0C) !important;
  }

  button[dlgtype="accept"]:hover:not(:active) {
    color: var(--base01) !important;
    background-color: var(--base0C) !important;
    box-shadow: var(--shadow-thin-base0C);
  }
  button[dlgtype="accept"]:active,
  button[dlgtype="accept"]:hover:active {
    color: var(--base0C) !important;
    background-color: var(--base0C-black-60) !important;
    box-shadow: var(--shadow-inset-dull-base0C) !important;
  }
}
