.urlbar {
  --urlbar-height: 35px !important;
}
.urlbar-background {
  margin: 1px 0px 0px 1px !important;
  border: 0px solid transparent !important;
  border-radius: 50px !important;
  box-shadow: var(--shadow-thin);
}
[focused]:not([supress-focus-border]) > .urlbar-background {
  margin: 0px !important;
  padding: 1px 0px 0px 1px !important;
  outline: none !important;
  box-shadow: var(--shadow-inset);
}
.urlbar-icon {
  /* width: unset !important; */
  height: 16px !important;
}
.urlbar-container {
  --urlbar-container-height: 34px !important;
}
.urlbar-input-container {
  border-width: 0px !important;
}
[open] > .urlbar-background {
  border-radius: 10px !important;
  box-shadow: var(--shadow-thin) !important;
}

.urlbarView-action,
.urlbarView-action-btn {
  border-radius: 50px !important;
}
.urlbarView-action-btn {
  min-height: 30px !important;
  margin: 1px 0px 0px 1px !important;
  padding: 1px 9px 2px 8px !important;
  border: 0px !important;

  background-color: var(--base02) !important;
  outline: none !important;
  box-shadow: var(--shadow-thin) !important;
}
.urlbarView-action-btn:hover {
  background-color: var(--base0D) !important;
  box-shadow: var(--shadow-thin-base0D) !important;
}
.urlbarView-action-btn:is(:active, :hover:active) {
  color: var(--base0D) !important;
  background-color: var(--base02) !important;
  box-shadow: var(--shadow-inset) !important;
}
.urlbarView-action-btn:not(:hover) {
  color: var(--base0D) !important;
}

.urlbarView-button-menu:is(:active, :hover:active) {
  color: inherit !important;
  background-color: transparent !important;
  box-shadow: var(--shadow-inset) !important;
}
