@import url("colors.css");

@keyframes generic-slide-down {
  from {
    margin-top: -140px;
  }
  to {
    margin-top: 0px;
  }
}

@keyframes ripple-in {
  from {
    background-image: radial-gradient(circle farthest-corner at center, alpha(currentColor, 1) 100%, transparent 0%);
  }
  to {
    background-image: radial-gradient(circle farthest-corner at center, alpha(currentColor, 1) 0%, transparent 0%);
  }
}

@keyframes ripple-out-base09 {
  from {
    background-image: radial-gradient(circle farthest-corner at center, alpha(@base09, 1) 0%, transparent 0%);
  }
  to {
    background-image: radial-gradient(circle farthest-corner at center, alpha(@base09, 1) 100%, transparent 0%);
  }
}

@keyframes ripple-in-base09 {
  from {
    background-image: radial-gradient(circle farthest-corner at center, alpha(@base09, 1) 100%, transparent 0%);
  }
  to {
    background-image: radial-gradient(circle farthest-corner at center, alpha(@base09, 1) 0%, transparent 0%);
  }
}

/* -- base styles -- */
#start,
#center,
#end {
  min-height: 33px;
  background-color: @base02;
  box-shadow:
    1px 2px 2px rgba(0, 0, 0, 0.17),
    2px 4px 4px rgba(0, 0, 0, 0.2),
    -1px -1px 0px @base02-white-90-dark;
}

#topbar {
  background-color: transparent;
}

#bar {
  margin: 5px 15px 11px 15px;
  padding: 1px 0px 0px 1px;
  box-shadow:
    1px 2px 2px rgba(0, 0, 0, 0.17),
    2px 4px 4px rgba(0, 0, 0, 0.2),
    -1px -1px 0px @base01-white-90-dark;
}
.background {
  padding: 0px;
}
window {
  opacity: 0.9;
  background-color: transparent;
}

box {
  border-radius: 50px;
}
menu {
  background-color: @base01;
}
menuitem,
menuitem:hover {
  min-height: 24px;
  margin: 1px 0px 0px 1px;
  padding: 4px 17px 5px 16px;
}
menuitem:hover {
  background-color: @base0D;
}
menuitem:hover,
menuitem:hover cellview {
  color: @base01;
}

menubar {
  background-color: @base01;
}
button box {
  transition: none;
}
widget > revealer > box {
  background-color: transparent;
}
/**/
button {
  padding: 1px 17px 2px 16px;
}
button:focus,
button:active,
button.focused {
  margin: 0px;
  padding: 2px 17px 2px 17px;
  box-shadow:
    1px 2px 2px @base02-black-80 inset,
    2px 4px 4px @base02-black-80 inset,
    -1px -1px 0px @base02-white-90-dark inset;
}
button:hover:checked {
  padding: 2px 17px 2px 17px;
}
button:hover label,
button:hover box {
  background-color: transparent;
}

.popup {
  margin: 15px 65px 80px 65px;
  padding: 6px 12px 6px 12px;
  border-radius: 10px;
  box-shadow:
    4px 12px 10px rgba(0, 0, 0, 0.2),
    7px 18px 14px rgba(0, 0, 0, 0.21),
    10px 24px 18px rgba(0, 0, 0, 0.25),
    14px 30px 24px rgba(0, 0, 0, 0.3),
    -1px -1px 0px @base01-white-90-dark;
}

label {
  color: inherit;
}

/* -- workspaces -- */
.workspaces {
  margin: 0px;
  box-shadow: none;
}
.workspaces > button.item {
  padding: 1px 9px 2px 8px;
  color: @base0F;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}
.workspaces > button.item:hover {
  color: @base01;
  background-color: @base0F;
  box-shadow:
    1px 2px 2px rgba(0, 0, 0, 0.17),
    2px 4px 4px rgba(0, 0, 0, 0.2),
    -1px -1px 0px @base0F-white-65-dark;
}
.workspaces > button.item.inactive > label {
  opacity: 0.4;
}
.workspaces > button.item.inactive:hover {
  opacity: 0.5;
}
.workspaces > button.item.focused,
.workspaces > button.item:active {
  padding: 2px 9px 2px 9px;
  border-left: 0px;
  border-radius: 50px;

  color: @base0F;

  background-color: @base02;
  box-shadow:
    1px 2px 2px @base02-black-80 inset,
    2px 4px 4px @base02-black-80 inset,
    -1px -1px 0px @base02-white-90-dark inset;
}
.workspaces > button.item + button.item:active,
.workspaces > button.item + button.item.focused {
  margin: 0px 0px 0px 2px;
}
.workspaces > button:hover + button:not(.focused),
.workspaces > button.focused + button:not(:hover) {
  border-left-color: transparent;
  box-shadow: none;
}

/* -- walker button -- */
#walker-btn label {
  margin: -11px -11px -11px -16px;
  font-size: 36px;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}

/* -- clock -- */
.clock > label {
  font-size: 17px;
}
.calendar-clock {
  margin-bottom: 1px;
  padding: 0px 29px;

  font-family: "DS-Digital", sans-serif;
  font-size: 50px;
  color: @base08;
  /* shadow-separator-mimic-bottom-horizontal-base01 */
  box-shadow:
    0px -2px 0px @base01-black-65-dark inset,
    0px -1px 0px @base01-black-80-dark inset,
    0px 1px 0px @base01-white-90-dark;
}
.calendar {
  border-width: 0px;
  color: @base0D;
  background-color: @base01;
}
.calendar:selected {
  color: @base01;
  background-color: @base0D;
}

/* notifications */
.notifications > button.text-button > label {
  font-size: 20px;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}
.notifications > .count {
  margin-top: 3px;
  margin-right: 3px;
  padding-right: 4px;
  padding-left: 4px;
  border-radius: 50%;

  font-size: 0.8rem;
  color: @base01;

  opacity: 0.8;
  background-color: @base0D;
}
overlay.notifications > button.text-button:not(:hover) {
  box-shadow: none;
}
overlay.notifications > button:hover:active {
  box-shadow:
    1px 2px 2px @base02-black-80 inset,
    2px 4px 4px @base02-black-80 inset,
    -1px -1px 0px @base02-white-90-dark inset;
}

/*-- tools --*/
#tools {
  color: @base06;
}
#tools > widget > revealer > button > label {
  margin-left: -4px;
  font-size: 19px;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}
#tools > widget > revealer > button:hover:not(:active) {
  background-color: @base06;
  box-shadow:
    1px 2px 2px rgba(0, 0, 0, 0.17),
    2px 4px 4px rgba(0, 0, 0, 0.2),
    -1px -1px 0px @base06-white-65-dark;
}
.tool {
  margin: 6px 11px 11px 11px;
  padding: 1px 10px 2px 9px;
}
.tool > label {
  font-size: 22px;
}
.tool:hover:active {
  margin: 5px 11px 11px 10px;
  padding: 2px 10px 2px 10px;
  box-shadow:
    1px 2px 2px @base01-black-80 inset,
    2px 4px 4px @base01-black-80 inset,
    -1px -1px 0px @base01-white-90-dark inset;
}

#nightLightToggle {
  color: @base0A;
}
#nightLightToggle:hover:not(:active) {
  color: @base01;
  background-color: @base0A;
  box-shadow:
    1px 2px 2px rgba(0, 0, 0, 0.17),
    2px 4px 4px rgba(0, 0, 0, 0.2),
    -1px -1px 0px @base0A-white-65-dark;
}

#screenshotter {
  color: @base08;
}
#screenshotter:hover:not(:active) {
  color: @base01;
  background-color: @base08;
  box-shadow:
    1px 2px 2px rgba(0, 0, 0, 0.17),
    2px 4px 4px rgba(0, 0, 0, 0.2),
    -1px -1px 0px @base08-white-65-dark;
}
#screenshotter > label {
  margin-left: -7px;
}

#wallpaperToggle {
  color: @base0C;
}
#wallpaperToggle:hover:not(:active) {
  color: @base01;
  background-color: @base0C;
  box-shadow:
    1px 2px 2px rgba(0, 0, 0, 0.17),
    2px 4px 4px rgba(0, 0, 0, 0.2),
    -1px -1px 0px @base0C-white-65-dark;
}
#wallpaperToggle > label {
  margin-left: -5px;
}
#wallpaperNavButtons.linked {
  margin: 5px 5px 10px 5px;
  background-color: @base02;
}
#wallpaperNavButtons.linked > widget {
  border: 0px;
  box-shadow: none;
}
.wallpaperNav {
  padding: 1px 10px 2px 9px;
  color: @base0C;
}
.wallpaperNav:hover:not(:active) {
  color: @base01;
  background-color: @base0C;
  box-shadow:
    1px 2px 2px rgba(0, 0, 0, 0.17),
    2px 4px 4px rgba(0, 0, 0, 0.2),
    -1px -1px 0px @base0C-white-65-dark;
}
.wallpaperNav:active {
  margin: 0px;
  padding: 2px 10px 2px 10px;
}

/*-- tray -- */
.tray .item {
  padding: 0px 9px 0px 9px;

  -gtk-icon-shadow: 0px 0px 2px rgb(0, 0, 0);
}

/* -- sys_info -- */
#stats-btn {
  background-color: transparent;
}
#stats-btn:hover {
  background-color: @base0D;
}
#stats-btn:active {
  background-color: transparent;
}
.header {
  margin-bottom: 5px;
  padding-bottom: 7px;
  /* shadow-separator-mimic-bottom-horizontal-base01 */
  box-shadow:
    0px -2px 0px @base01-black-65-dark inset,
    0px -1px 0px @base01-black-80-dark inset,
    0px 1px 0px @base01-white-90-dark;
}
#cpu-label {
  color: @base08;
}
#ram-label {
  color: @base0E;
}
#disk-label {
  color: @base0D;
}
#gpu-label {
  color: @base0B;
}
#uptime-label {
  color: @base0A;
}

.reveal-btn {
  margin: 10px 30px 11px 30px;
  background-color: @base02;
  box-shadow:
    1px 2px 2px rgba(0, 0, 0, 0.17),
    2px 4px 4px rgba(0, 0, 0, 0.2),
    -1px -1px 0px @base02-white-90-dark;
}
.reveal-btn:hover:not(:active) {
  background-color: @base0D;
  /*shadow-thin-base0D*/
  box-shadow:
    1px 2px 2px rgba(0, 0, 0, 0.17),
    2px 4px 4px rgba(0, 0, 0, 0.2),
    -1px -1px 0px @base0D-white-65-dark;
}
.reveal-btn:active {
  margin: 9px 30px 11px 29px;
  background-color: @base02;
}
.info {
  padding-top: 5px;
  border-top: 1px solid @base02;
  border-radius: 0px;
  animation: generic-slide-down 0.2s cubic-bezier(0, 0, 0.2, 1) forwards;
}
#distro-label {
  color: @base0A;
}
#build-label {
  color: @base0D;
}
#kernel-label {
  color: @base08;
}
#hostname-label {
  color: @base0B;
}
#packages-label {
  color: @base0E;
}
#local-ip-label {
  color: @base0C;
}
#public-ip-label {
  color: @base06;
}

#colors-label {
  color: @base0F;
}
#base00 {
  color: @base00;
}
#base01 {
  color: @base01;
}
#base02 {
  color: @base02;
}
#base03 {
  color: @base03;
}
#base04 {
  color: @base04;
}
#base05 {
  color: @base05;
}
#base06 {
  color: @base06;
}
#base07 {
  color: @base07;
}
#base08 {
  color: @base08;
}
#base09 {
  color: @base09;
}
#base0A {
  color: @base0A;
}
#base0B {
  color: @base0B;
}
#base0C {
  color: @base0C;
}
#base0D {
  color: @base0D;
}
#base0E {
  color: @base0E;
}
#base0F {
  color: @base0F;
}
#font-label {
  color: @base07;
}
.gtk-label {
  color: @base0B;
}

/*-- network --*/
#network {
  color: @base0E;
}
#network > widget > revealer > button > label {
  margin-right: 2px;
  font-size: 21px;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}
#network > widget > revealer > button:hover:not(:active) {
  background-color: @base0E;
  box-shadow:
    1px 2px 2px rgba(0, 0, 0, 0.17),
    2px 4px 4px rgba(0, 0, 0, 0.2),
    -1px -1px 0px @base0E-white-65-dark;
}
#network > widget > revealer > button:hover {
  color: @base01;
}
#network > widget > revealer > button:hover:active {
  color: @base0E;
}

/*-- bluetooth --*/
.bluetooth {
  color: @base0C;
}
.bluetooth:hover:not(:active) {
  color: @base01;
  background-color: @base0C;
  box-shadow:
    1px 2px 2px rgba(0, 0, 0, 0.17),
    2px 4px 4px rgba(0, 0, 0, 0.2),
    -1px -1px 0px @base0C-white-65-dark;
}
.bluetooth > label,
.bluetooth:active > label {
  font-size: 20px;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
  background-color: transparent;
}
.popup-bluetooth {
  min-width: 250px;
  padding-bottom: 0px;
}
.popup-bluetooth,
.popup-bluetooth .device > .spinner {
  color: @base0C;
}
.popup-bluetooth > .header {
  border-radius: 0px;
}
.popup-bluetooth > .header > .switch {
  margin-right: 20px;
}
.popup-bluetooth .device > .icon-box {
  margin-right: 10px;
}
.popup-bluetooth .device > .status > .header-label {
  font-size: 16px;
  font-weight: bold;
}
.popup-bluetooth .device > .switch {
  margin-left: 10px;
}
.popup-bluetooth .device > .spinner {
  margin-left: 20px;
}

/* -- clipboard -- */
.clipboard,
.clipboard > label,
.clipboard:hover:active > label {
  font-size: 20px;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}
.clipboard {
  color: @base09;
}
.clipboard:hover:not(:active),
.popup-clipboard button:hover:not(:active) {
  color: @base01;
  background-color: @base09;
  box-shadow:
    1px 2px 2px rgba(0, 0, 0, 0.17),
    2px 4px 4px rgba(0, 0, 0, 0.2),
    -1px -1px 0px @base09-white-65-dark;
}

.popup-clipboard {
  color: @base09;
}
.popup-clipboard .btn-remove {
  margin: 10px;
  color: @base09;
}
.popup-clipboard .btn-remove:active {
  margin: 9px 10px 10px 9px;
  color: @base09;
}
.popup-clipboard > box > box.item {
  padding-bottom: 0.3em;
  border-bottom: 1px solid @base01-black-80-dark;
  border-radius: 0%;
  box-shadow:
    0px -1px 0px @base01-black-65-dark inset,
    0px 1px 0px @base01-white-90-dark;
}
radio {
  margin-right: 12px;
  animation: ripple-in-base09 200ms cubic-bezier(0, 0, 0.2, 1) forwards;
}
radio:checked {
  box-shadow:
    1px 1px 0.6px 0.1px @base09-black-60 inset,
    2px 2px 1.1px 0.1px @base09-black-60 inset,
    -1px -1px 0px @base09-white-65-dark inset;
  animation: ripple-out-base09 200ms cubic-bezier(0, 0, 0.2, 1) forwards;
}

/* -- Volume -- */
.volume {
  color: @base0A;
}
.volume > label {
  margin-right: 5px;
  font-size: 19px;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}
.volume:hover:not(:active) {
  color: @base01;
  background-color: @base0A;
  box-shadow:
    1px 2px 2px rgba(0, 0, 0, 0.17),
    2px 4px 4px rgba(0, 0, 0, 0.2),
    -1px -1px 0px @base0A-white-65-dark;
}

.popup-volume {
  padding: 20px;
}
.popup-volume,
.device-box > .slider > .top {
  color: @base0A;
}
.device-box {
  padding-right: 10px;
  border-radius: 0px;
  box-shadow:
    -2px 0px 0px @base01-black-65-dark inset,
    -1px 0px 0px @base01-black-80-dark inset,
    1px 0px 0px @base01-white-90-dark;
}
.device-selector > box {
  margin-bottom: 10px;
}
.device-selector > .linked > button.combo {
  color: @base0A;
  box-shadow: none;
}
.device-selector > .linked > .combo:hover {
  color: @base01;
  background-color: @base0A;
  box-shadow:
    1px 2px 2px rgba(0, 0, 0, 0.17),
    2px 4px 4px rgba(0, 0, 0, 0.2),
    -1px -1px 0px @base0A-white-65-dark;
}
button.btn-mute,
.device-selector > .linked > .combo > box > cellview,
.device-selector > .linked > .combo > box > arrow {
  color: @base0A;
}
button.btn-mute:hover:not(:active) {
  color: @base01;
  background-color: @base0A;
}
.device-selector > .linked > .combo:hover > box > cellview,
.device-selector > .linked > .combo:hover > box > arrow {
  color: @base01;
}
.device-selector > .linked > .combo:hover > box > cellview,
.device-selector > .linked > .combo:hover > box > arrow {
  color: @base01;
}
#gtk-combobox-popup-menu {
  color: @base0A;
  background-color: @base01;
}
#gtk-combobox-popup-menu > menuitem {
  color: inherit;
}
#gtk-combobox-popup-menu > menuitem:hover {
  color: @base01;
  background-color: @base0A;
  box-shadow:
    1px 2px 2px rgba(0, 0, 0, 0.17),
    2px 4px 4px rgba(0, 0, 0, 0.2),
    -1px -1px 0px @base0A-white-65-dark;
}

/* -- power -- */
#power,
#power > widget > revealer > button:active {
  color: @base08;
}
#power > widget > revealer > button:hover:not(:active) {
  color: @base01;
  background-color: @base08;
  box-shadow:
    1px 2px 2px rgba(0, 0, 0, 0.17),
    2px 4px 4px rgba(0, 0, 0, 0.2),
    -1px -1px 0px @base08-white-65-dark;
}
#power label,
#power > widget > revealer > button:active {
  font-size: 19px;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}

#popup-power {
  color: @base08;
}
#profile-header {
  margin-bottom: 10px;
  padding-bottom: 7px;
  font-size: 20px;
}
#profile-pic-button {
  min-width: 120px;
  min-height: 120px;
  margin: 10px 10px 17px 10px;
  padding: 0px;
  border-radius: 50%;

  background-image: url("/var/lib/AccountsService/icons/brandon.face.icon");
  background-size: contain;
  box-shadow:
    1px 2px 2px rgba(0, 0, 0, 0.17),
    2px 4px 4px rgba(0, 0, 0, 0.2),
    -1px -1px 0px @base02-white-90-dark;
}

.power-btn {
  color: @base08;
}
.power-btn,
.power-btn:hover {
  padding: 1px 16px 2px 15px;
  border-radius: 50%;
}
.power-btn:active {
  padding: 2px 16px 2px 16px;
}
#power-actions-box button.power-btn:hover:not(:active) {
  color: @base01;
  background-color: @base08;
  box-shadow:
    1px 2px 2px rgba(0, 0, 0, 0.17),
    2px 4px 4px rgba(0, 0, 0, 0.2),
    -1px -1px 0px @base08-white-65-dark;
}
#power-actions-box {
  min-height: 35px;
  margin: 9px 9px 12px 9px;
  background-color: @base02;
  box-shadow:
    1px 2px 2px rgba(0, 0, 0, 0.17),
    2px 4px 4px rgba(0, 0, 0, 0.2),
    -1px -1px 0px @base02-white-90-dark;
}
#power-actions-box button.power-btn > label {
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}
#power-actions-box > widget:not(:last-child) .power-btn {
  margin-right: 8px;
}
#power-actions-box > widget .power-btn > label {
  margin-right: -5px;
  margin-left: -5px;
}
#power-actions-box > widget:nth-child(1) .power-btn > label {
  margin-right: 0px;
}
#power-actions-box > widget:nth-child(2) .power-btn > label {
  margin-right: -3px;
}
#power-actions-box > widget:nth-child(4) .power-btn > label {
  margin-top: -2px;
  margin-right: -5px;
}
