@import url("colors.css");

.control-center {
  margin: 20px;
  border-radius: 10px;

  color: var(--base0D);
  /* The Control Center which contains the old notifications + widgets */
  background: var(--base01);
  box-shadow: var(--shadow-wide-base01);
}

.notification-group-header {
  margin-left: 20px;
  font-weight: bold;
  color: var(--base0D);
}

.notification-group-buttons {
  border-spacing: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.notification-group-collapse-button {
  color: var(--base0A);
  background-color: var(--base0A-black-60);
  box-shadow: var(--shadow-thin-base0A-dull);
}
.notification-group-collapse-button:hover:not(:active) {
  color: var(--base01);
  background-color: var(--base0A);
  box-shadow: var(--shadow-thin-base0A);
}
.notification-group-collapse-button:active {
  box-shadow: var(--shadow-inset-base0A-dull);
}

.notification-group-close-all-button,
.control-center-clear-all {
  color: var(--base08);
  background-color: var(--base08-black-60);
  box-shadow: var(--shadow-thin-base08-dull);
}
.notification-group-close-all-button:hover:not(:active),
.control-center-clear-all:hover:not(:active) {
  color: var(--base01);
  background-color: var(--base08);
  box-shadow: var(--shadow-thin-base08);
}
.notification-group-close-all-button:active,
.control-center-clear-all:active {
  box-shadow: var(--shadow-inset-base08-dull);
}

widget.right.top {
  background-color: transparent;
}
.close-button {
  margin: 1px 10px 8px 6px;
  color: var(--base08);
  background-color: var(--base08-black-60);
  box-shadow: var(--shadow-thin-base08-dull);
}
.close-button:hover {
  color: var(--base01);
  background-color: var(--base08);
  box-shadow: var(--shadow-thin-base08);
}
.close-button:active {
  color: var(--base08);
  background-color: var(--base08-black-60);
  box-shadow: var(--shadow-inset-thin-base08-dull);
}

.notification-content image {
  padding: 8px 6px 8px 0px;
  -gtk-icon-shadow:
    1px 2px 2px rgba(0, 0, 0, 0.17),
    2px 4px 4px rgba(0, 0, 0, 0.2);
}
.notification {
  border-width: 0px;
  border-radius: 50px;
  margin: 0px;
  background-color: var(--base02);
  box-shadow: var(--shadow-thin-base02);
}
.notification:hover {
  background-color: var(--base0D);
  box-shadow: var(--shadow-thin-base0D);
}
.notification-background {
  margin: 1px 6px 8px 6px;
  padding: 0px;
}

.notification-row .notification-background .notification .notification-default-action:hover {
  background: transparent;
}
.notification-row .notification-background .notification .notification-default-action .notification-content {
  margin: 0px 6px;
}
.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .summary {
  /* Notification summary/title */
  font-size: 19px;
  color: var(--base0D);
}
.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .time {
  margin-right: 10px;
  color: var(--base0A);
}
.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .body {
  /* Notification body */
  font-size: 16px;
  color: var(--base0D);
}
.notification-row > revealer > widget > .notification-background > .notification > .notification-default-action:hover > .notification-content,
.notification-row > revealer > widget > .notification-background > .notification > .notification-default-action:hover > .notification-content .text-box .summary,
.notification-row > revealer > widget > .notification-background > .notification > .notification-default-action:hover > .notification-content .text-box .time,
.notification-row > revealer > widget > .notification-background > .notification > .notification-default-action:hover > .notification-content .text-box .body {
  /* Notification summary/title */
  color: var(--base01);
}
.floating-notifications .notification-row .notification-background {
  margin: 1px 38px 55px 1px;
}
.floating-notifications .notification-row .notification-background .notification {
  margin: 0px;
  box-shadow: var(--shadow-wide-base02);
}
.floating-notifications animatedlistitem:first-child > .notification-row .notification-background {
  margin: 20px 38px 55px 1px;
}
.floating-notifications animatedlistitem:first-child > .notification-row .notification-background .notification {
  margin: 0px;
  box-shadow: var(--shadow-wide-base02);
}
.floating-notifications .notification-row .notification-background .notification:hover {
  box-shadow: var(--shadow-wide-base0D);
}
.floating-notifications animatedlistitem:first-child > .notification-row .notification-background .notification:hover {
  box-shadow: var(--shadow-wide-base0D);
}

.widget-title > button {
  border-radius: 50px;
}
/* box.widget-notifications viewport { */
/*   margin: 0px; */
/*   background-color: transparent; */
/*   box-shadow: none; */
/* } */
list.control-center-list > row {
  background-color: transparent;
}
list > row {
  background-color: var(--base02);
}
row.notification-group > widget > overlay > box > widget:disabled {
  --disabled-opacity: 0.9;
}
row.notification-group {
  padding-top: 8px;
  padding-bottom: 0px;
}
row.notification-group > widget > overlay {
  margin-bottom: 0px;
}

.notification-row:hover {
  background-color: transparent;
}
list.control-center-list {
  min-width: 500px;
  margin: 0px;
}
.widget-notifications {
  margin: 0px 0px 0px 0px;
  padding: 0px;
}

box.widget-title {
  margin: 0px 6px 6px 6px;
  padding: 6px;
  border-radius: 0px;
  border-bottom: 1px solid var(--base01-black-80);
  box-shadow: var(--shadow-separator-mimic-bottom-horizontal-base01);
}
box.widget-dnd {
  margin: 0px 6px;
  padding: 0px 6px;
}
box.widget-dnd > label {
  font-size: 16px;
  color: var(--base0D);
}

.notification-group-icon {
  color: var(--base0D);
}
switch.control-center-dnd:not(:checked) {
  border-radius: 50px;
  box-shadow: var(--shadow-inset-base01);
}
